*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bgv.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 22px;
	border: 1px solid;
	transition: 0.8s;
	margin-top: 12px;
}
ul li a:hover{
	background-color: chocolate;
	color: black;

}
ul li.active a{
	background-color: chocolate;
	color: white;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%;-50%);
}
.title h1{
	font-family: sans-serif;
	color: white;
	font-size: 40px;
}
.button{
	position: absolute;
	top: 55%;
	left: 35%;
	transform: translate(-50%;-50%);
}
.btn1{
	border: 5px solid;
	padding: 30px 30px;
	color: white;
	text-decoration: none;
	transition: 0.8s ease;
	border-radius: 6px;
	margin: 11px;
}
.btn1:hover{
	background: chocolate;
	color: white;
}
.btn2{
	border: 5px solid;
	padding: 30px 30px;
	color: white;
	text-decoration: none;
	transition: 0.8s ease;
	border-radius: 6px;
	margin: 11px;
}
.btn2:hover{
	background: chocolate;
	color: white;
}









